* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    position: relative;
    background-color: salmon;
    font-family: 'Poppins', sans-serif;
}

.bloc__citations {
    position: absolute;
    width: 550px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;

}
p {
    color: salmon;
}
.button {
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 60px 30px 30px;
    color: white;
    background-color: salmon;

}
.text__citations {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.author__citations {
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px 60px 95px 31px;
}

@media screen and (max-width: 550px) {
    .bloc__citations {
       width: 100%;
    }
    .text__citations {
        font-size: 1rem;
    }
    .author__citations {
        font-size: 0.8rem;
    }
}